<h1>Add new course</h1>

{{#if error}}
    <p class="alert">{{error}}</p>
{{/if}}

<form action="/add" method="post" novalidate>
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required value="{{data.title}}">
        <label for="title">Title course</label>
        <span class="helper-text" data-error="Enter title"></span>
    </div>
    <div class="input-field">
        <input id="price" name="price" type="text" class="validate" required min="1" value="{{data.price}}">
        <label for="price">Price course</label>
        <span class="helper-text" data-error="Enter price"></span>
    </div>
    <div class="input-field">
        <input id="photo" name="photo" type="text" class="validate" required value="{{data.photo}}">
        <label for="photo">URL photo</label>
        <span class="helper-text" data-error="Enter photo"></span>
    </div>
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
